body {
  margin: 0;
  font-family: Arial;
  background-color: #050a15;
  background-image: 
    radial-gradient(at 0% 0%, rgba(0, 58, 140, 0.3) 0px, transparent 50%), 
    radial-gradient(at 100% 100%, rgba(0, 210, 255, 0.2) 0px, transparent 50%);
  color: white;
  font-family: 'Poppins', sans-serif;
}

.brand-name {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #00d2ffff;
}

.card {
  background: #1A1A22;
  padding: 20px;
  border-radius: 10px;

  text-decoration: none; /* supprime underline */
  color: white; /* couleur texte */

  font-weight: 500;
  font-size: 16px;

  display: block; /* important pour que toute la carte soit cliquable */
  cursor: pointer;

  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background: linear-gradient(135deg, #7C3AED, #00D2FF);;
  color:#050a15;
  box-shadow: 0 10px 25px rgba(255, 255, 255, 100);
}

header {
  display: flex;
  justify-content: space-between;
   align-items: center;
  padding: 20px 40px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-container img {
  height: 40px;
}

.brand-name {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

section {
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: radial-gradient(circle at center, rgba(124,58,237,0.2), transparent);
}

h1 {
  font-size: 42px;
}

.btn {
  margin-top: 20px;
  display: inline-block;
  padding: 14px 32px;
  /* Ton dégradé IT */
  background: linear-gradient(90deg, #003a8c 0%, #00d2ff 100%);
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50px; /* Forme pilule plus moderne */
  transition: transform 0.3s, box-shadow 0.3s; /* Pour l'effet au survol */
  border: none;
}

/* Effet quand on passe la souris dessus */
.btn:hover {
  transform: translateY(-3px); /* Le bouton monte un peu */
  box-shadow: 0 10px 20px rgba(0, 210, 255, 0.3); /* Lueur bleue */
}


section {
  padding: 60px 20px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: #1A1A22;
  padding: 20px;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 40px;
  color: #777;
}
